input[type="submit"] {
    color: yellow;
    font-style: bold;
    border-radius: 10px;
    border: none;
    margin: auto;
    background-color: #202377;
    font-size: 20px;

}

* {
    margin: auto;
}

form {
    width: 70%;
    border: solid #c0c0c0 1px;
    box-shadow: 5px 10px 15px 0px black;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 10px;
    flex-wrap: wrap;

}

form label {
    line-height: 2;
    font-family: tahoma;
    font-size: 16px;
    font-weight: bold;
}

form input {
    border: none;
    border-bottom: solid black 1px;
    
}

div.salvar {
    text-align: center;

}

input[type="submit"]:hover {
    background-color: yellow;
    color: red;
    font-weight: bold;



}