/* 
cores 
azul #202377
vermelho #EE2F29
azul letra #014B8F

*/

/* CONFIGURAÇÃO GLOBAL */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;

}

/* TITULO DA UNINOVE */

header {
  background-image: linear-gradient(to bottom, white, blue);
  /* background-color: #0101b1a4; */
  color: rgba(255, 255, 0, 0.938);
  text-align: center;
  font-size: 50px;
  /* border: solid ; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-style: italic;
  text-shadow: 5px 5px 5px black;
}

/* MENUS E SUB MENUS */
nav {
  background-image: linear-gradient(to bottom, #ed2828 25% , white);
  color: white;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* CAMPO PRINCIPAL DO SITE */
main {
  height: 600px;
  /* background-color: black; */
  color: red;
  font-style: helvetica;
  font-size: 64px;
  text-align: center;
  background-image: url('uninove.jpg');
  background-size: cover;
  border-radius: 5px;
}

/* RODAPE */
footer {
  background-color: #202377;
  color: yellow;
  text-align: center;
  border-radius: 10px;

}

/* CONFIGURAÇOES GLOBAIS DE LAYOUT */
header,
nav,
main,
footer {

  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  /* margem dentro do quadro primeiro valor cima baixo segundo valor direita e esquerda*/

}

/* ESTILIZAÇÃO DO TITULO DO SITE UNINOVE */
header:hover {
  background-image: linear-gradient(to bottom, white, black);
  /* background-color: gray; */
  color: red;
  transition: 2s;
  text-shadow: 5px 5px 5px white;

}

/* CONFIGURAÇÃOO DOS SUB MENUS */

div.submenu {
  display: none;
}

/* config de cada opcao */
button.botao {
  border: none;
  background-color: #ed282800;
  font-weight: bold;
  align-self: stretch;
  


}
/* config dos subs cadastro, consulta... */
button.botao,
div.submenu {
  min-width: 150px;
  text-align: center;
  font-size: 14px;
  font-family: tahoma;
  font-weight: bold;
  font-size: 22px;
  color: black;
}

/* passar o mouse em cima das opcoes cursos, graduação... */
div.menu:hover button.botao {
  background-color: rgba(148, 148, 148, 0.521);
  cursor: pointer;
  border-radius: 10px;
  color: black;

}
/* nao lembro oq faz kkkkk */
div.menu {
  display: inline-block;
  position: relative;
}


/* ESTILIZAÇÃO DE CLICAR NOS SUB MENUS  */
div.menu:hover div.submenu {
  display: block;
  position: absolute;
  background-color: #fff9f9;
  color: black;
  border-radius: 10px;

}

/*config as tags a do submenu*/
div.submenu a {
  display: block;
  padding: 5px 10px; /*5 cime e baixo, 10 direita e esquerda*/
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* COR DE FOCO DO SUB MENU  */
div.submenu a:hover {
  background-color: rgba(255, 0, 0, 0.884);
  color: white;
  border-radius: 10px;
  text-decoration: underline;
  text-align: center;

}

/* CONFIGURAÇÃO DO IFRAME PARTE ONDE MOSTRA O SITE REDIRECIONADO  */
main iframe {
  width: 100%;
  height: 100%;
  border: none;

}